#######Prime number till N natural numbers

In [0]:
#Func to find prime numbers till N - natural numbers 
def prime_N(N):
    
    primelist_N = []
    #N =56
    for num in range(2,N+1):
        flag=0
        for x in range(2,int(num/2)+1):
            if num%x == 0:
                flag+=1
                break
        if flag ==0:
            primelist_N.append(num)
            #print(num)
    return primelist_N

In [2]:
prime_N(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

######### N - factorial function

In [0]:
#Factorial function
def factorial(N):
    fact =1
    while N >=1:
        fact = fact*N
        N-=1
    return fact

In [4]:
factorial(10)

3628800

# Assignment 1

##Problem 1: N -table

In [0]:
#Question 1

def table(num,start,end):
    for i in range(start,end+1):
        print('{n} * {i} = {res}'.format(n = num,i = i,res = num*i))

In [6]:
#table(num,from_num,to_num)
table(2,1,15)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30

## Problem 2: Twin primes

In [0]:
# step 1 Prime number Func

#checking prime or not ; if prime return TRUE else FALSE
def prime_check(num):
    
    flag = 0

    if num ==1:
      return False
      
    for x in range(2,round(num/2) + 1):
        if num%x == 0:
            flag+=1
            break
    if flag == 0:
        return True
    else:
        return False

In [8]:
print(prime_check(12))
print(prime_check(13))
print(prime_check(2))  #even prime
print(prime_check(1))  #1 is niether prime nor composite So, here we are treating 1 as composite so that it fails for twin primes

False
True
True
False

In [9]:
# step 2 for checking twin Primes
number = 1000
odd_list = [x for x in range(1,number,2)]
num = int(number/2) 

for i in range(num - 1):
    #num -1 for last index 
    if (prime_check(odd_list[i]) and prime_check(odd_list[i+1])):
        print(odd_list[i] , odd_list[i+1])

3 5
5 7
11 13
17 19
29 31
41 43
59 61
71 73
101 103
107 109
137 139
149 151
179 181
191 193
197 199
227 229
239 241
269 271
281 283
311 313
347 349
419 421
431 433
461 463
521 523
569 571
599 601
617 619
641 643
659 661
809 811
821 823
827 829
857 859
881 883

##Problem 3: prime factorisation

In [0]:
#Func to find prime numbers till N - natural numbers -- 

def prime_N(N):
    
    primelist_N = []
    #N =56
    for num in range(2,N+1):
        flag=0
        for x in range(2,int(num/2)+1):
            if num%x == 0:
                flag+=1
                break
        if flag ==0:
            primelist_N.append(num)
            #print(num)
    return primelist_N

In [11]:
prime_N(56)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

In [0]:
def all_prime_factors(numerator):
    L=[]
    prime_factors = [x for x in prime_N(numerator) if numerator%x == 0]
    for x in prime_factors:

        while numerator%x==0:
            numerator = numerator/x
            L.append(x)
    return L

In [13]:
all_prime_factors(56)

[2, 2, 2, 7]

In [14]:
all_prime_factors(100)

[2, 2, 5, 5]

## Problem 4: Permutations & Combinations

In [0]:
#Factorial function
def factorial(N):
    fact =1
    while N >=1:
        fact = fact*N
        N-=1
    return fact

In [0]:
# Type 1 ---> Permutation using the Factorial function
def permuation(n,r):
    res = int(factorial(n)/factorial(n-r))
    return res

In [17]:
permuation(7,3)

210

In [0]:
#Type 2 to calulate permuatatiom
# 7p3 means 7*6*5
def permutation_2(n,r):

    res = 1
    for x in range(r):
        res = res*n
        n-=1
    return res

In [19]:
permutation_2(7,3)

210

In [0]:
#Combination nCr
def combination(n,r):
    res = int(factorial(n)/(factorial(r)*factorial(n-r)))
    return res

In [21]:
combination(5,2)

10

##Problem 5: Convert a number from decimal to binary

In [0]:
def dec_to_binary(num):
    
    L =[]
    while int(num/2) != 0:
        L.append(num%2)
        num  = int(num/2)

    L.append(1)
    L = L[::-1]
    L = list(map(str, L))
    return int(''.join(L))

In [23]:
dec_to_binary(14)

1110

In [24]:
dec_to_binary(20)

10100

##Problem 6.To check Armstrong number

In [0]:
#Function to find cube of number
def cubesum(num):
    res =0
    for ele in map(int,list(str(num))):
        res = res + (ele**3) 
    return res

In [0]:
#Armstrong number function
def isArmstrong(num):
    if cubesum(num) == num:
        return True
    else:
        return False

In [27]:
isArmstrong(153)

True

In [28]:
cubesum(111)

3

In [0]:
# Pgm To print Armstong numbers below N natral numbers
def armstrong_N(num):
    L =[]
    for x in range(num+1):
        if isArmstrong(x):
            L.append(x)
    return L

In [30]:
armstrong_N(1000)

[0, 1, 153, 370, 371, 407]

##Problem 7. product of digits of a number

In [0]:
def prodDigits(num):
    res = 1
    for ele in map(int,list(str(num))):
        res = res * ele
    return res

In [32]:
prodDigits(156)

30

In [0]:
""" 8. If all digits of a number n are multiplied by each other repeating with the product,
the one digit number obtained at last is called the multiplicative digital root of n. 
The number of times digits need to be multiplied to reach one digit is called the multiplicative persistance of n. 
Example: 86 -> 48 -> 32 -> 6 (MDR 6, MPersistence 3)               
        341 -> 12->2           (MDR 2, MPersistence 2) 
        Using the function prodDigits() of previous exercise write functions MDR() 
        and MPersistence() that input a number and 
        return its multiplicative digital root and multiplicative persistence respectively """

In [0]:
def mdr_mPersistence(num):
    i=0
    while num >10:
        num = prodDigits(num)
        i+=1
    return num,i

In [35]:
mdr_mPersistence(86)

(6, 3)

In [36]:
mdr_mPersistence(341)

(2, 2)

## Problem 9

In [0]:
"""9. Write a function sumPdivisors() that finds the sum of proper divisors of a number. 
Proper divisors of a number are those numbers by which the number is divisible, except the number itself.
For example proper divisors of 36 are 1, 2, 3, 4, 6, 9, 18 """

In [0]:
def sumPdivisors(num):
    L = [x for x in range(1,int(num/2) + 1) if num%x == 0]
    return sum(L)

In [39]:
sumPdivisors(12)

16

## Problem 10

In [0]:
"""10.A number is called perfect if the sum of proper divisors of that number is equal to the number.
For example 28 is perfect number, since 1+2+4+7+14=28. 
Write a program to print all the perfect numbers in a given range """

In [0]:
def isPerfect(num):
    if sumPdivisors(num) == num:
        return True
    else:
        return False

In [42]:
isPerfect(28)

True

In [43]:
isPerfect(26)

False

In [0]:
#print perfect numbers of ceratin range from 0 - num 

def isPerfect_N(num):
    L = []
    for x in range(1,num+1):
        #print(x)
        if isPerfect(x):
            L.append(x)
    return L

In [45]:
isPerfect_N(100)

[6, 28]

## Problem 11

In [0]:
""" 
Two different numbers are called amicable numbers if the sum of the proper divisors of each is equal to the other number. 
For example 220 and 284 are amicable numbers.
Sum of proper divisors of 220 = 1+2+4+5+10+11+20+22+44+55+110 = 284 
Sum of proper divisors of 284 = 1+2+4+71+142 = 220 
Write a function to print pairs of amicable numbers in a range
"""

In [0]:
def amicable_btw_p_and_q(p,q):
    L =[]
    L = [(x,sumPdivisors(x))  for x in range(p,q+1)]
    for x,y in L:
        if (y,x) in L:
            print((x,y))

In [48]:
amicable_btw_p_and_q(200,300)

(220, 284)
(284, 220)

## Problem 12

In [49]:
""" Write a program which can filter odd numbers in a list by using filter function """

' Write a program which can filter odd numbers in a list by using filter function '

In [0]:
L = list(range(1,11))

In [51]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
odd_L = filter(lambda x:x%2 != 0, L)

In [53]:
list(odd_L)

[1, 3, 5, 7, 9]

## Problem 13

In [54]:
""" 13. Write a program which can map() to make a list whose elements are cube of elements in a given list """

' 13. Write a program which can map() to make a list whose elements are cube of elements in a given list '

In [0]:
L = [1,2,3,4,5]

In [0]:
cube_list = list(map(lambda x:x**3, L ))

In [57]:
cube_list

[1, 8, 27, 64, 125]

In [58]:
"""14.Write a program which can map() and filter() to make a list 
whose elements are cube of even number in a given list """

'14.Write a program which can map() and filter() to make a list \nwhose elements are cube of even number in a given list '

In [0]:
L = [x for x in range(1,11)]

In [60]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
Even_list = list(filter(lambda x: x%2==0 , L))
Even_list

[2, 4, 6, 8, 10]

In [62]:
Even_cube_list = list(map(lambda x:x**3, Even_list))
Even_cube_list

[8, 64, 216, 512, 1000]

In [0]:
#      OR

In [64]:
Even_cube_list = list(map(lambda x:x**3, list(filter(lambda x: x%2==0 , L)) ))
Even_cube_list

[8, 64, 216, 512, 1000]